/*

*/

.version.cliente_1 /* version checker */
{
	color: #0000F4;
	background-color: #DC4A25;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 976px;
	min-height: 363.9000000000001px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 74px 3px 62.09999999999991px 1px;
}

#u1778
{
	z-index: 34;
	height: 62px;
	top: 0px;
}

#u1778-bw
{
	z-index: 34;
}

#u1850
{
	z-index: 33;
	height: 62px;
	top: 3px;
}

#u1850-bw
{
	z-index: 33;
}

#u1779
{
	z-index: 39;
	width: 164px;
	top: 10px;
	left: 50%;
	margin-left: -440px;
}

#u1781-4
{
	z-index: 41;
	width: 56px;
	min-height: 20px;
	top: 18px;
	left: 50%;
	margin-left: -236px;
}

#u1781-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px -236px;
}

#u1781-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px -236px;
}

#u1777-4
{
	z-index: 35;
	width: 80px;
	min-height: 20px;
	top: 18px;
	left: 50%;
	margin-left: -134px;
}

#u1777-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px -134px;
}

#u1777-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px -134px;
}

#u1782-4
{
	z-index: 45;
	width: 81px;
	min-height: 20px;
	top: 18px;
	left: 50%;
	margin-left: -10px;
}

#u1782-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px -10px;
}

#u1782-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px -10px;
}

#u1783-4
{
	z-index: 49;
	width: 90px;
	min-height: 20px;
	top: 18px;
	left: 50%;
	margin-left: 123px;
}

#u1783-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px 123px;
}

#u1783-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px 123px;
}

#u1784-4
{
	z-index: 53;
	width: 55px;
	min-height: 20px;
	top: 18px;
	left: 50%;
	margin-left: 249px;
}

#u1784-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px 249px;
}

#u1784-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px 249px;
}

#u1785-4
{
	z-index: 57;
	width: 71px;
	min-height: 20px;
	top: 18px;
	left: 50%;
	margin-left: 344px;
}

#u1785-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px 344px;
}

#u1785-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px 344px;
}

#u1073-4
{
	z-index: 2;
	width: 153px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	color: #C2D000;
	text-align: left;
	font-family: '__Spoon-Regular_5';
	font-weight: 400;
	margin-left: 9px;
	position: relative;
}

#pu1074
{
	width: 0.01px;
	margin-top: 12px;
}

#u1074
{
	z-index: 6;
	width: 976px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1080-4
{
	z-index: 8;
	width: 397px;
	min-height: 27px;
	background-color: transparent;
	line-height: 30px;
	font-size: 25px;
	color: #383838;
	text-align: center;
	font-family: '__Spoon-Bold_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 291px;
}

#u1081-4
{
	z-index: 12;
	width: 960px;
	min-height: 90px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	text-align: center;
	font-family: '__Spoon-Regular_5';
	font-weight: 400;
	margin-left: 9px;
	margin-top: 10px;
	position: relative;
}

#pamphletu1090
{
	z-index: 22;
	width: 0.01px;
	height: 583px;
	margin-left: 9px;
	margin-top: 23px;
	position: relative;
}

#u1104
{
	z-index: 23;
	width: 272px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 414px;
	left: 689px;
}

#u1105
{
	position: absolute;
	width: 119px;
	height: 75px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
}

#u1105:hover
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	width: 119px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1105:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 119px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1107
{
	position: absolute;
	width: 119px;
	height: 75px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	left: 151px;
}

#u1107:hover
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	width: 119px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1105.PamphletThumbSelected,#u1107:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 119px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1109
{
	position: absolute;
	width: 119px;
	height: 75px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	top: 93px;
}

#u1109:hover
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	width: 119px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1107.PamphletThumbSelected,#u1109:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 119px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1126
{
	position: absolute;
	width: 119px;
	height: 75px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	top: 92px;
	left: 151px;
}

#u1126:hover
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	width: 119px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1109.PamphletThumbSelected,#u1126:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 119px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1126.PamphletThumbSelected
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 119px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1091
{
	position: absolute;
	width: 655px;
	background-color: transparent;
}

#u1091popup
{
	z-index: 28;
}

#u1092
{
	z-index: 29;
	width: 655px;
	height: 583px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	margin-right: -10000px;
	position: relative;
}

#u1100
{
	z-index: 30;
	width: 655px;
	height: 583px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	margin-right: -10000px;
	position: relative;
}

#u1096
{
	z-index: 31;
	width: 655px;
	height: 583px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	margin-right: -10000px;
	position: relative;
}

#u1127
{
	z-index: 32;
	width: 655px;
	height: 583px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	margin-right: -10000px;
	position: relative;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u1083
{
	z-index: 16;
	width: 271px;
	background-color: transparent;
	margin-left: 698px;
	top: -583px;
	margin-bottom: -397px;
	position: relative;
}

#u1089-4
{
	z-index: 18;
	width: 960px;
	min-height: 90px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	text-align: center;
	font-family: '__Spoon-Regular_5';
	font-weight: 400;
	margin-left: 9px;
	margin-top: 48px;
	position: relative;
}

@font-face
{
	font-family: '__Spoon-Bold_5';
	src: url('../fonts/spoon-bold.eot');
	src: local('☺'), url('../fonts/spoon-bold.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Spoon-Light_5';
	src: url('../fonts/spoon-light.eot');
	src: local('☺'), url('../fonts/spoon-light.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Spoon-Regular_5';
	src: url('../fonts/spoon-regular.eot');
	src: local('☺'), url('../fonts/spoon-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 980px;
}

#page .verticalspacer
{
	clear: both;
}

