/*

*/

.version.empresa /* version checker */
{
	color: #0000EC;
	background-color: #3BD968;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	padding-bottom: 71px;
}

#u2298
{
	z-index: 2;
	height: 405px;
	border-color: #000000;
	opacity: 0.54;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=54)";
	filter: alpha(opacity=54);
	background: #FFFFFF url("../images/empresa_fundo.jpg") no-repeat center center;
	background-size: cover;
}

#u2298-bw
{
	z-index: 2;
	margin-top: 71px;
	height: 405px;
}

#u2300-4
{
	z-index: 4;
	width: 368px;
	min-height: 198px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	color: #383838;
	text-align: center;
	font-family: '__Spoon-Regular_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
	left: 5px;
}

#u2302
{
	z-index: 12;
	border-color: #000000;
	background-color: #4E296E;
	padding: 87px 5px 84.40000000000009px;
}

#u2311-6
{
	z-index: 50;
	width: 368px;
	min-height: 198px;
	background-color: transparent;
	color: #FFFFFF;
	font-weight: 400;
	position: relative;
}

#u2323-6
{
	z-index: 56;
	width: 368px;
	min-height: 198px;
	background-color: transparent;
	color: #FFFFFF;
	font-weight: 400;
	margin-top: 75px;
	position: relative;
}

#u2325-6
{
	z-index: 62;
	width: 368px;
	min-height: 198px;
	background-color: transparent;
	color: #FFFFFF;
	font-weight: 400;
	margin-top: 100px;
	position: relative;
}

#u2311-2,#u2323-2,#u2325-2
{
	font-size: 17px;
	text-align: center;
	line-height: 20px;
	font-family: '__Spoon-Bold_5';
}

#u2311-4,#u2323-4,#u2325-4
{
	font-size: 14px;
	text-align: justify;
	font-family: '__Spoon-Regular_5';
}

#u2302-bw
{
	z-index: 12;
	margin-top: 454px;
	height: 769px;
}

#u2303
{
	z-index: 13;
	width: 61px;
	height: 61px;
	border-color: #000000;
	background-color: #4E296E;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,30,-13);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,30,-13);
	-o-transform: matrix(0.7071,0.7071,-0.7071,0.7071,30,-13);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,30,-13);
	position: relative;
	margin-right: -10000px;
	margin-top: 424px;
	left: 159px;
}

#u2304-5
{
	z-index: 14;
	width: 368px;
	min-height: 41px;
	background-color: transparent;
	text-align: center;
	font-size: 32px;
	color: #C2D000;
	line-height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 478px;
	left: 5px;
}

#u2007
{
	z-index: 86;
	height: 62px;
}

#u2007-bw
{
	z-index: 86;
	margin-top: 3px;
	height: 62px;
}

#u2008
{
	z-index: 87;
}

#u2010
{
	z-index: 88;
	width: 164px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 39px;
}

#u2091
{
	z-index: 90;
	width: 29px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 269px;
}

#u2086
{
	z-index: 91;
	width: 29px;
	height: 2px;
}

#u2087
{
	z-index: 92;
	width: 29px;
	height: 2px;
	margin-top: 3px;
}

#u2088
{
	z-index: 93;
	width: 29px;
	height: 2px;
	margin-top: 3px;
}

#u2089
{
	z-index: 94;
	width: 29px;
	height: 2px;
	margin-top: 2px;
}

#u2090-4
{
	z-index: 95;
	width: 29px;
	min-height: 4px;
	margin-top: 2px;
}

#u2008-bw
{
	z-index: 87;
	height: 62px;
}

#accordionu2059wrapper
{
	min-height: 225px;
	z-index: 99;
	margin-right: -10000px;
	margin-top: 18px;
	left: 199px;
}

#accordionu2059
{
	z-index: 99;
	width: 174px;
}

#u2068
{
	z-index: 100;
	width: 174px;
}

#u2069-3
{
	z-index: 101;
	width: 164px;
	min-height: 14px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2069-3:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u2069-3:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u2069-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 13px;
	width: 163px;
	margin: 0px -1px 0px 0px;
}

#u2070
{
	z-index: 104;
	width: 172px;
}

#u2070_position_content
{
	padding-top: 6px;
	padding-bottom: 2px;
}

#u2012-4
{
	z-index: 105;
	width: 167px;
	min-height: 20px;
	margin-left: 4px;
}

#u2012-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px 4px;
}

#u2012-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px 4px;
}

#u2092
{
	z-index: 129;
	width: 167px;
	height: 1px;
	left: -1px;
	margin-top: 5px;
}

#u2009-4
{
	z-index: 109;
	width: 167px;
	min-height: 20px;
	left: -1px;
	margin-top: 5px;
}

#u2009-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 5px 0px 0px;
}

#u2094
{
	z-index: 130;
	width: 167px;
	height: 1px;
	left: -1px;
	margin-top: 5px;
}

#u2013-4
{
	z-index: 113;
	width: 167px;
	min-height: 20px;
	margin-top: 4px;
}

#u2013-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 4px 0px 0px;
}

#u2013-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 4px 0px 0px;
}

#u2095
{
	z-index: 131;
	width: 167px;
	height: 1px;
	left: -1px;
	margin-top: 5px;
}

#u2014-4
{
	z-index: 117;
	width: 167px;
	min-height: 20px;
	margin-top: 5px;
}

#u2009-4.MuseLinkActive,#u2014-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 5px 0px 0px;
}

#u2014-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 5px 0px 0px;
}

#u2096
{
	z-index: 132;
	width: 167px;
	height: 1px;
	left: -1px;
	margin-top: 5px;
}

#u2015-4
{
	z-index: 121;
	width: 167px;
	min-height: 20px;
	margin-left: 2px;
	margin-top: 5px;
}

#u2015-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 5px 0px 0px 2px;
}

#u2015-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 5px 0px 0px 2px;
}

#u2097
{
	z-index: 133;
	width: 167px;
	height: 1px;
	margin-left: 4px;
	margin-top: 5px;
}

#u2016-4
{
	z-index: 125;
	width: 167px;
	min-height: 20px;
	margin-left: 4px;
	margin-top: 1px;
}

#u2016-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 1px 0px 0px 4px;
}

#u2016-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 1px 0px 0px 4px;
}

#u2351
{
	z-index: 134;
	width: 157px;
	min-height: 132px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: '__Spoon-Light_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 110px;
}

#pu2298,#pu2299
{
	width: 0.01px;
}

#u2299
{
	z-index: 3;
	border-color: #000000;
	padding-bottom: 334px;
	background: #FFFFFF url("../images/detalhe-nos.jpg") no-repeat center center;
	background-size: cover;
}

#u2301-4
{
	z-index: 8;
	width: 368px;
	min-height: 241px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	color: #383838;
	text-align: center;
	font-family: '__Spoon-Regular_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
	left: 5px;
}

#u2299-bw
{
	z-index: 3;
	height: 318px;
}

#u2305-5
{
	z-index: 19;
	width: 368px;
	min-height: 41px;
	background-color: transparent;
	text-align: center;
	font-size: 36px;
	color: #383838;
	line-height: 43px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 5px;
}

#pamphletu2329
{
	z-index: 71;
	width: 0.01px;
	height: 276px;
	position: relative;
	margin-right: -10000px;
	margin-top: 326px;
	left: 5px;
}

#u2334
{
	z-index: 72;
	width: 103px;
	position: relative;
	margin-right: -10000px;
	margin-top: 263px;
	left: 154px;
}

#u2336
{
	position: absolute;
	width: 13px;
	height: 13px;
	border-color: #C4C4C4;
	background-color: #383838;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
}

#u2336:hover
{
	border-color: #6B6B6B;
	background-color: #383838;
	margin: 0px;
}

#u2336:active
{
	border-color: #6B6B6B;
	background-color: #383838;
	margin: 0px;
}

#u2337
{
	position: absolute;
	width: 12px;
	height: 13px;
	border-color: #C4C4C4;
	background-color: #383838;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 24px;
}

#u2337:hover
{
	border-color: #6B6B6B;
	background-color: #383838;
	margin: 0px;
}

#u2337:active
{
	border-color: #6B6B6B;
	background-color: #383838;
	margin: 0px;
}

#u2335
{
	position: absolute;
	width: 12px;
	height: 13px;
	border-color: #C4C4C4;
	background-color: #383838;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 47px;
}

#u2335:hover
{
	border-color: #6B6B6B;
	background-color: #383838;
	margin: 0px;
}

#u2335:active
{
	border-color: #6B6B6B;
	background-color: #383838;
	margin: 0px;
}

#u2344
{
	position: absolute;
	width: 12px;
	height: 13px;
	border-color: #C4C4C4;
	background-color: #383838;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 69px;
}

#u2344:hover
{
	border-color: #6B6B6B;
	background-color: #383838;
	margin: 0px;
}

#u2344:active
{
	border-color: #6B6B6B;
	background-color: #383838;
	margin: 0px;
}

#u2346
{
	position: absolute;
	width: 12px;
	height: 13px;
	border-color: #C4C4C4;
	background-color: #383838;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 91px;
}

#u2346:hover
{
	border-color: #6B6B6B;
	background-color: #383838;
	margin: 0px;
}

#u2346:active
{
	border-color: #6B6B6B;
	background-color: #383838;
	margin: 0px;
}

#u2336.PamphletThumbSelected,#u2337.PamphletThumbSelected,#u2335.PamphletThumbSelected,#u2344.PamphletThumbSelected,#u2346.PamphletThumbSelected
{
	border-color: #6B6B6B;
	background-color: #C2D000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin: 0px;
}

#u2340
{
	position: absolute;
	width: 368px;
	background-color: transparent;
}

#u2340popup
{
	z-index: 78;
}

#u2341
{
	z-index: 79;
	width: 368px;
	height: 256px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	margin-right: -10000px;
	position: relative;
}

#u2342
{
	z-index: 80;
	width: 368px;
	height: 256px;
	border-style: none;
	border-color: transparent;
	background-color: #383838;
	margin-right: -10000px;
	position: relative;
}

#u2343
{
	z-index: 81;
	width: 368px;
	height: 256px;
	border-style: none;
	border-color: transparent;
	background-color: #29ABE2;
	margin-right: -10000px;
	position: relative;
}

#u2345
{
	z-index: 82;
	width: 368px;
	height: 256px;
	border-style: none;
	border-color: transparent;
	background-color: #29ABE2;
	margin-right: -10000px;
	position: relative;
}

#u2347
{
	z-index: 83;
	width: 368px;
	height: 256px;
	border-style: none;
	border-color: transparent;
	background-color: #29ABE2;
	margin-right: -10000px;
	position: relative;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u2309-5
{
	z-index: 45;
	width: 368px;
	min-height: 41px;
	background-color: transparent;
	text-align: center;
	font-size: 36px;
	color: #383838;
	line-height: 43px;
	margin-left: 5px;
	margin-top: 21px;
	position: relative;
}

#u2304,#u2309
{
	font-family: '__Spoon-Regular_5';
	font-weight: 400;
}

#u2319
{
	z-index: 68;
	width: 198px;
	height: 198px;
	border-width: 2px;
	border-style: solid;
	border-color: #C2D000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 88px;
	margin-top: 20px;
	position: relative;
	background: #FFFFFF url("../images/44ab84cd5dcc89db577c44ba1c9e611e-u2319-fr.jpg") no-repeat center center;
	background-size: contain;
}

#u2306-7
{
	z-index: 24;
	width: 218px;
	min-height: 41px;
	background-color: transparent;
	text-align: center;
	color: #383838;
	margin-left: 80px;
	margin-top: 19px;
	position: relative;
}

#u2348
{
	z-index: 84;
	height: 1px;
	border-color: #000000;
	background-color: #4E296E;
}

#u2348-bw
{
	z-index: 84;
	margin-top: 25px;
	height: 1px;
}

#u2320
{
	z-index: 69;
	width: 198px;
	height: 198px;
	border-width: 2px;
	border-style: solid;
	border-color: #C2D000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 89px;
	margin-top: 39px;
	position: relative;
	background: #FFFFFF url("../images/2cd5c13ed33fe7143c5293f8f6d04dc0-u2320-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u2307-7
{
	z-index: 31;
	width: 368px;
	min-height: 41px;
	background-color: transparent;
	text-align: center;
	color: #383838;
	margin-left: 6px;
	margin-top: 21px;
	position: relative;
}

#u2350
{
	z-index: 85;
	height: 1px;
	border-color: #000000;
	background-color: #4E296E;
}

#u2350-bw
{
	z-index: 85;
	margin-top: 21px;
	height: 1px;
}

#u2321
{
	z-index: 70;
	width: 198px;
	height: 198px;
	border-width: 2px;
	border-style: solid;
	border-color: #C2D000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 85px;
	margin-top: 35px;
	position: relative;
	background: #FFFFFF url("../images/538e0fe8c2a279e686f7a5dbae69ed04-u2321-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2308-7
{
	z-index: 38;
	width: 224px;
	min-height: 41px;
	background-color: transparent;
	text-align: center;
	color: #383838;
	margin-left: 77px;
	margin-top: 21px;
	position: relative;
}

#u2306-3,#u2307-3,#u2308-3
{
	font-size: 36px;
	line-height: 43px;
}

#u2304-2,#u2305,#u2309-2,#u2306,#u2307,#u2308
{
	font-family: '__Spoon-Bold_5';
	font-weight: 400;
}

#u2305-2,#u2306-2,#u2307-2,#u2308-2
{
	font-family: '__Spoon-Light_5';
	font-weight: 400;
}

#u2306-5,#u2307-5,#u2308-5
{
	font-size: 22px;
	line-height: 26px;
	font-family: '__Spoon-Light_5';
	font-weight: 400;
}

@font-face
{
	font-family: '__Spoon-Light_5';
	src: url('../fonts/spoon-light.eot');
	src: local('☺'), url('../fonts/spoon-light.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Spoon-Bold_5';
	src: url('../fonts/spoon-bold.eot');
	src: local('☺'), url('../fonts/spoon-bold.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Spoon-Regular_5';
	src: url('../fonts/spoon-regular.eot');
	src: local('☺'), url('../fonts/spoon-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

