/*

*/

.version.empresa /* version checker */
{
	color: #0000FB;
	background-color: #E781E0;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 499.5999999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 62px;
	padding-bottom: 62px;
}

#u1850
{
	z-index: 87;
	height: 62px;
	top: 3px;
}

#u1850-bw
{
	z-index: 87;
}

#u1778
{
	z-index: 88;
	height: 62px;
	top: 0px;
}

#u1778-bw
{
	z-index: 88;
}

#u1779
{
	z-index: 93;
	width: 164px;
	top: 10px;
	left: 50%;
	margin-left: -440px;
}

#u1781-4
{
	z-index: 95;
	width: 56px;
	min-height: 20px;
	top: 18px;
	left: 50%;
	margin-left: -236px;
}

#u1781-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px -236px;
}

#u1781-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px -236px;
}

#u1777-4
{
	z-index: 89;
	width: 80px;
	min-height: 20px;
	top: 18px;
	left: 50%;
	margin-left: -134px;
}

#u1777-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px -134px;
}

#u1777-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px -134px;
}

#u1782-4
{
	z-index: 99;
	width: 81px;
	min-height: 20px;
	top: 18px;
	left: 50%;
	margin-left: -10px;
}

#u1782-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px -10px;
}

#u1782-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px -10px;
}

#u1783-4
{
	z-index: 103;
	width: 90px;
	min-height: 20px;
	top: 18px;
	left: 50%;
	margin-left: 123px;
}

#u1783-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px 123px;
}

#u1783-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px 123px;
}

#u1784-4
{
	z-index: 107;
	width: 55px;
	min-height: 20px;
	top: 18px;
	left: 50%;
	margin-left: 249px;
}

#u1784-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px 249px;
}

#u1784-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px 249px;
}

#u1785-4
{
	z-index: 111;
	width: 71px;
	min-height: 20px;
	top: 18px;
	left: 50%;
	margin-left: 344px;
}

#u1785-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px 344px;
}

#u1785-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px 344px;
}

#pu1608
{
	width: 0.01px;
	margin-left: -100px;
}

#u1608
{
	z-index: 2;
	width: 157px;
	min-height: 132px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 418px;
}

#u450
{
	z-index: 3;
	height: 405px;
	border-color: #000000;
	opacity: 0.54;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=54)";
	filter: alpha(opacity=54);
	background: #FFFFFF url("../images/empresa_fundo.jpg") no-repeat center center;
	background-size: cover;
}

#u450-bw
{
	z-index: 3;
	height: 405px;
}

#u454-5
{
	z-index: 5;
	width: 470px;
	min-height: 41px;
	background-color: transparent;
	line-height: 38px;
	font-size: 32px;
	color: #C2D000;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 355px;
}

#u455-4
{
	z-index: 10;
	width: 960px;
	min-height: 198px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	color: #383838;
	text-align: center;
	font-family: '__Spoon-Regular_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
	left: 110px;
}

#u456
{
	z-index: 18;
	border-color: #000000;
	background-color: #4E296E;
}

#u456_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 980px;
	position: relative;
	left: -100px;
	padding-top: 137px;
	padding-bottom: 81px;
}

#pu1788-6
{
	width: 0.01px;
	left: 110px;
	position: relative;
}

#u1788-6
{
	z-index: 62;
	width: 225px;
	min-height: 198px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: justify;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1670-6
{
	z-index: 56;
	width: 225px;
	min-height: 198px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: justify;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 367px;
}

#u1671-6
{
	z-index: 68;
	width: 225px;
	min-height: 198px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: justify;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 735px;
}

#u1788-2,#u1670-2,#u1671-2
{
	font-size: 17px;
	line-height: 20px;
	font-family: '__Spoon-Bold_5';
}

#u1788-4,#u1670-4,#u1671-4
{
	font-size: 14px;
	font-family: '__Spoon-Regular_5';
}

#u1672-4
{
	z-index: 83;
	width: 960px;
	min-height: 65px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #FFFFFF;
	text-align: justify;
	font-family: '__Spoon-Bold_5';
	font-weight: 400;
	left: 110px;
	margin-top: 72px;
	position: relative;
}

#u456-bw
{
	z-index: 18;
	margin-top: 383px;
	height: 647px;
}

#u461
{
	z-index: 19;
	width: 61px;
	height: 61px;
	border-color: #000000;
	background-color: #4E296E;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,30,-13);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,30,-13);
	-o-transform: matrix(0.7071,0.7071,-0.7071,0.7071,30,-13);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,30,-13);
	position: relative;
	margin-right: -10000px;
	margin-top: 353px;
	left: 560px;
}

#u462-5
{
	z-index: 20;
	width: 470px;
	min-height: 41px;
	background-color: transparent;
	line-height: 38px;
	font-size: 32px;
	color: #C2D000;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 414px;
	left: 355px;
}

#u473
{
	z-index: 4;
	border-color: #000000;
	padding-bottom: 46px;
	background: #FFFFFF url("../images/detalhe-nos.jpg") no-repeat center center;
	background-size: cover;
}

#u473_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 980px;
	position: relative;
	left: -100px;
}

#pu480-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 38px;
	margin-left: 110px;
}

#u480-5
{
	z-index: 25;
	width: 470px;
	min-height: 41px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	color: #383838;
	text-align: center;
	margin-left: 241px;
	position: relative;
}

#pu481-4
{
	width: 0.01px;
	margin-top: 24px;
}

#u481-4
{
	z-index: 14;
	width: 470px;
	min-height: 309px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	color: #383838;
	text-align: center;
	font-family: '__Spoon-Regular_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#pu482
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 490px;
}

#u482
{
	z-index: 74;
	width: 150px;
	height: 150px;
	border-color: #000000;
	background-color: #7F7F7F;
	position: relative;
}

#u495
{
	z-index: 75;
	width: 150px;
	height: 150px;
	border-color: #000000;
	background-color: #7F7F7F;
	margin-top: 9px;
	position: relative;
}

#pu483
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 650px;
}

#u483
{
	z-index: 76;
	width: 150px;
	height: 150px;
	border-color: #000000;
	background-color: #7F7F7F;
	position: relative;
}

#u496
{
	z-index: 77;
	width: 150px;
	height: 150px;
	border-color: #000000;
	background-color: #7F7F7F;
	margin-top: 9px;
	position: relative;
}

#pu484
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 104px;
	margin-left: 920px;
}

#u484
{
	z-index: 78;
	width: 150px;
	height: 150px;
	border-color: #000000;
	background-color: #7F7F7F;
	position: relative;
}

#u497
{
	z-index: 79;
	width: 150px;
	height: 150px;
	border-color: #000000;
	background-color: #7F7F7F;
	margin-top: 9px;
	position: relative;
}

#u473-bw
{
	z-index: 4;
	height: 413px;
}

#u498-5
{
	z-index: 51;
	width: 470px;
	min-height: 41px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	color: #383838;
	text-align: center;
	margin-left: 251px;
	margin-top: 30px;
	position: relative;
}

#u454,#u462,#u498
{
	font-family: '__Spoon-Regular_5';
	font-weight: 400;
}

#pu499
{
	width: 0.01px;
	margin-left: 46px;
	margin-top: 29px;
}

#u499
{
	z-index: 80;
	width: 198px;
	height: 198px;
	border-width: 2px;
	border-style: solid;
	border-color: #C2D000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
	background: #FFFFFF url("../images/44ab84cd5dcc89db577c44ba1c9e611e-u499-fr.jpg") no-repeat center center;
	background-size: contain;
}

#u501
{
	z-index: 81;
	width: 198px;
	height: 198px;
	border-width: 2px;
	border-style: solid;
	border-color: #C2D000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 348px;
	background: #FFFFFF url("../images/2cd5c13ed33fe7143c5293f8f6d04dc0-u501-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u502
{
	z-index: 82;
	width: 198px;
	height: 198px;
	border-width: 2px;
	border-style: solid;
	border-color: #C2D000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 708px;
	background: #FFFFFF url("../images/538e0fe8c2a279e686f7a5dbae69ed04-u502-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu504-7
{
	width: 0.01px;
	margin-left: 37px;
	margin-top: 20px;
}

#u504-7
{
	z-index: 30;
	width: 218px;
	min-height: 41px;
	background-color: transparent;
	color: #383838;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u1673-7
{
	z-index: 37;
	width: 434px;
	min-height: 41px;
	background-color: transparent;
	color: #383838;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 240px;
}

#u1674-7
{
	z-index: 44;
	width: 224px;
	min-height: 41px;
	background-color: transparent;
	color: #383838;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 709px;
}

#u504-3,#u1673-3,#u1674-3
{
	font-size: 36px;
	line-height: 43px;
}

#u454-2,#u462-2,#u480,#u498-2,#u504,#u1673,#u1674
{
	font-family: '__Spoon-Bold_5';
	font-weight: 400;
}

#u480-2,#u504-2,#u1673-2,#u1674-2
{
	font-family: '__Spoon-Light_5';
	font-weight: 400;
}

#u504-5,#u1673-5,#u1674-5
{
	font-size: 22px;
	line-height: 26px;
	font-family: '__Spoon-Light_5';
	font-weight: 400;
}

@font-face
{
	font-family: '__Spoon-Bold_5';
	src: url('../fonts/spoon-bold.eot');
	src: local('☺'), url('../fonts/spoon-bold.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Spoon-Light_5';
	src: url('../fonts/spoon-light.eot');
	src: local('☺'), url('../fonts/spoon-light.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Spoon-Regular_5';
	src: url('../fonts/spoon-regular.eot');
	src: local('☺'), url('../fonts/spoon-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 980px;
}

#page .verticalspacer
{
	clear: both;
}

