#u1778
{
	border-color: #000000;
	background-color: #FFFFFF;
	position: fixed;
}

#u1850
{
	border-color: #000000;
	background-color: #000000;
	opacity: 0.06;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=6)";
	filter: alpha(opacity=6);
	position: fixed;
}

#u1779
{
	background-color: transparent;
	position: fixed;
}

#u1781-4
{
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #7F7F7F;
	font-family: '__Spoon-Light_5';
	font-weight: 400;
	position: fixed;
}

#u1781-4:hover p
{
	color: #C2D000;
	visibility: inherit;
	font-weight: normal;
	font-style: normal;
}

#u1781-4.MuseLinkActive p
{
	color: #C2D000;
	visibility: inherit;
	font-family: '__Spoon-Regular_5';
	font-weight: 400;
	font-style: normal;
}

#u1777-4
{
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #7F7F7F;
	font-family: '__Spoon-Light_5';
	font-weight: 400;
	position: fixed;
}

#u1777-4:hover p
{
	color: #C2D000;
	visibility: inherit;
	font-weight: normal;
	font-style: normal;
}

#u1782-4
{
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #7F7F7F;
	font-family: '__Spoon-Light_5';
	font-weight: 400;
	position: fixed;
}

#u1782-4:hover p
{
	color: #C2D000;
	visibility: inherit;
	font-weight: normal;
	font-style: normal;
}

#u1783-4
{
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #7F7F7F;
	font-family: '__Spoon-Light_5';
	font-weight: 400;
	position: fixed;
}

#u1783-4:hover p
{
	color: #C2D000;
	visibility: inherit;
	font-weight: normal;
	font-style: normal;
}

#u1784-4
{
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #7F7F7F;
	font-family: '__Spoon-Light_5';
	font-weight: 400;
	position: fixed;
}

#u1784-4:hover p
{
	color: #C2D000;
	visibility: inherit;
	font-weight: normal;
	font-style: normal;
}

#u1785-4
{
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #7F7F7F;
	font-family: '__Spoon-Light_5';
	font-weight: 400;
	position: fixed;
}

#u1785-4:hover p
{
	color: #C2D000;
	visibility: inherit;
	font-weight: normal;
	font-style: normal;
}

#u1777-4.MuseLinkActive p,#u1782-4.MuseLinkActive p,#u1783-4.MuseLinkActive p,#u1784-4.MuseLinkActive p,#u1785-4.MuseLinkActive p
{
	color: #C2D000;
	visibility: inherit;
}

