/*

*/

.version.portfolio /* version checker */
{
	color: #0000E7;
	background-color: #EEF852;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 499.9999999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 62px;
	padding-bottom: 62px;
}

#u1850
{
	z-index: 71;
	height: 62px;
	top: 3px;
}

#u1850-bw
{
	z-index: 71;
}

#u1778
{
	z-index: 72;
	height: 62px;
	top: 0px;
}

#u1778-bw
{
	z-index: 72;
}

#u1779
{
	z-index: 77;
	width: 164px;
	top: 10px;
	left: 50%;
	margin-left: -440px;
}

#u1781-4
{
	z-index: 79;
	width: 56px;
	min-height: 20px;
	top: 18px;
	left: 50%;
	margin-left: -236px;
}

#u1781-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px -236px;
}

#u1781-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px -236px;
}

#u1777-4
{
	z-index: 73;
	width: 80px;
	min-height: 20px;
	top: 18px;
	left: 50%;
	margin-left: -134px;
}

#u1777-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px -134px;
}

#u1777-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px -134px;
}

#u1782-4
{
	z-index: 83;
	width: 81px;
	min-height: 20px;
	top: 18px;
	left: 50%;
	margin-left: -10px;
}

#u1782-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px -10px;
}

#u1782-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px -10px;
}

#u1783-4
{
	z-index: 87;
	width: 90px;
	min-height: 20px;
	top: 18px;
	left: 50%;
	margin-left: 123px;
}

#u1783-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px 123px;
}

#u1783-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px 123px;
}

#u1784-4
{
	z-index: 91;
	width: 55px;
	min-height: 20px;
	top: 18px;
	left: 50%;
	margin-left: 249px;
}

#u1784-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px 249px;
}

#u1784-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px 249px;
}

#u1785-4
{
	z-index: 95;
	width: 71px;
	min-height: 20px;
	top: 18px;
	left: 50%;
	margin-left: 344px;
}

#u1785-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px 344px;
}

#u1785-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px 344px;
}

#pu1610
{
	width: 0.01px;
	margin-left: -100px;
}

#u1610
{
	z-index: 2;
	width: 157px;
	min-height: 132px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 442px;
}

#u807-4
{
	z-index: 3;
	width: 470px;
	min-height: 41px;
	background-color: transparent;
	line-height: 38px;
	font-size: 32px;
	color: #C2D000;
	text-align: center;
	font-family: '__Spoon-Regular_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 355px;
}

#u808
{
	z-index: 7;
	height: 516px;
	border-color: #000000;
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	background: transparent url("../images/port_fundo.png") no-repeat center center;
	background-size: cover;
}

#u808-bw
{
	z-index: 7;
	height: 516px;
}

#pamphletu891
{
	z-index: 8;
	width: 0.01px;
	height: 36px;
	padding-bottom: 363px;
	position: relative;
	margin-right: -10000px;
	margin-top: 75px;
	left: 110px;
}

#u905
{
	z-index: 9;
	width: 457px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 245px;
}

#pu906
{
	position: absolute;
	width: 0.01px;
	top: -13px;
}

#u906
{
	position: absolute;
	width: 96px;
	height: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
}

#pu906:hover #u906
{
	width: 96px;
	height: 44px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #C2D000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu906:active #u906
{
	width: 97px;
	height: 45px;
	background-image: none;
	border-style: none;
	border-color: #6B6B6B;
	background-color: #C2D000;
	background-color: rgba(194, 208, 0, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#pu906.PamphletThumbSelected #u906
{
	width: 96px;
	height: 44px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #C2D000;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u907-4
{
	z-index: 12;
	width: 93px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 24px;
	font-size: 17px;
	color: #C4C4C4;
	text-align: center;
	font-family: '__Spoon-Bold_5';
	font-weight: 400;
}

#pu906:hover #u907-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 93px;
	margin-right: -10000px;
	margin-top: 11px;
	left: -1px;
	min-height: 20px;
}

#pu906:active #u907-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 93px;
	margin-right: -10000px;
	margin-top: 12px;
	min-height: 20px;
}

#pu906.PamphletThumbSelected #u907-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 93px;
	margin-right: -10000px;
	margin-top: 11px;
	left: -1px;
	min-height: 20px;
}

#pu906:hover #u907-4 p
{
	color: #6B6B6B;
	visibility: inherit;
	font-family: '__Spoon-Bold_5';
	font-weight: 400;
	font-style: normal;
}

#pu906:active #u907-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: '__Spoon-Bold_5';
	font-weight: 400;
	font-style: normal;
}

#pu906.PamphletThumbSelected #u907-4 p
{
	color: #C2D000;
	visibility: inherit;
	font-family: '__Spoon-Bold_5';
	font-weight: 400;
	font-style: normal;
}

#pu906 #u907-4
{
	position: relative;
	width: 93px;
	margin-right: -10000px;
	margin-top: 11px;
	left: -1px;
}

#u908
{
	position: absolute;
	width: 97px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	padding-bottom: 9px;
	top: -13px;
	left: 123px;
}

#u908:hover
{
	border-color: #C2D000;
	background-color: #FFFFFF;
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u908:active
{
	border-color: #6B6B6B;
	background-color: #C2D000;
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u908.PamphletThumbSelected
{
	border-color: #C2D000;
	background-color: transparent;
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u909-4
{
	z-index: 20;
	width: 97px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 24px;
	font-size: 17px;
	color: #C4C4C4;
	text-align: center;
	font-family: '__Spoon-Bold_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: -1px;
}

#u908:hover #u909-4
{
	border-color: #C2D000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u908:active #u909-4
{
	border-color: #C2D000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u908:hover #u909-4 p
{
	color: #6B6B6B;
	visibility: inherit;
	font-family: '__Spoon-Bold_5';
	font-weight: 400;
	font-style: normal;
}

#u908:active #u909-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: '__Spoon-Bold_5';
	font-weight: 400;
	font-style: normal;
}

#u910
{
	position: absolute;
	width: 96px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	padding-bottom: 9px;
	top: -13px;
	left: 251px;
}

#u910:hover
{
	border-color: #C2D000;
	background-color: #FFFFFF;
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u910:active
{
	border-color: #6B6B6B;
	background-color: #C2D000;
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u911-4
{
	z-index: 25;
	width: 97px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 24px;
	font-size: 17px;
	color: #C4C4C4;
	text-align: center;
	font-family: '__Spoon-Bold_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: -1px;
}

#u910:hover #u911-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u910:active #u911-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u908.PamphletThumbSelected #u909-4,#u910.PamphletThumbSelected #u911-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u910:hover #u911-4 p
{
	color: #6B6B6B;
	visibility: inherit;
	font-family: '__Spoon-Bold_5';
	font-weight: 400;
	font-style: normal;
}

#u910:active #u911-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: '__Spoon-Bold_5';
	font-weight: 400;
	font-style: normal;
}

#u927
{
	position: absolute;
	width: 96px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	padding-bottom: 8px;
	top: -13px;
	left: 373px;
}

#u927:hover
{
	border-color: #C2D000;
	background-color: #FFFFFF;
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u927:active
{
	border-color: #6B6B6B;
	background-color: #C2D000;
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u910.PamphletThumbSelected,#u927.PamphletThumbSelected
{
	border-color: #C2D000;
	background-color: transparent;
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u931-4
{
	z-index: 30;
	width: 74px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 24px;
	font-size: 17px;
	color: #C4C4C4;
	text-align: center;
	font-family: '__Spoon-Bold_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u927:hover #u931-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u927:active #u931-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u927.PamphletThumbSelected #u931-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u927:hover #u931-4 p
{
	color: #6B6B6B;
	visibility: inherit;
	font-family: '__Spoon-Bold_5';
	font-weight: 400;
	font-style: normal;
}

#u927:active #u931-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: '__Spoon-Bold_5';
	font-weight: 400;
	font-style: normal;
}

#u908.PamphletThumbSelected #u909-4 p,#u910.PamphletThumbSelected #u911-4 p,#u927.PamphletThumbSelected #u931-4 p
{
	color: #C2D000;
	visibility: inherit;
	font-size: 17px;
	font-family: '__Spoon-Bold_5';
	font-weight: 400;
	font-style: normal;
}

#u892
{
	position: absolute;
	width: 962px;
	background-color: transparent;
	top: 62px;
}

#u892popup
{
	z-index: 34;
}

#u893
{
	z-index: 35;
	width: 962px;
	height: 338px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	margin-right: -10000px;
	position: relative;
}

#pu937
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 17px;
}

#u937
{
	z-index: 36;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u937:hover
{
	background-color: #C2D000;
	width: 224px;
	height: 142px;
	min-height: 0px;
	margin: 0px;
}

#u944
{
	z-index: 37;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 15px;
	position: relative;
}

#pu938
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 17px;
	margin-left: 245px;
}

#u938
{
	z-index: 38;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u943
{
	z-index: 39;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 15px;
	position: relative;
}

#pu939
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 17px;
	margin-left: 490px;
}

#u939
{
	z-index: 40;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u942
{
	z-index: 41;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 15px;
	position: relative;
}

#pu940
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 17px;
	margin-left: 735px;
}

#u940
{
	z-index: 42;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u941
{
	z-index: 43;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 15px;
	position: relative;
}

#u901
{
	z-index: 44;
	width: 962px;
	height: 338px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	margin-right: -10000px;
	position: relative;
}

#u952
{
	z-index: 45;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u953
{
	z-index: 46;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 15px;
	position: relative;
}

#u960
{
	z-index: 49;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u954
{
	z-index: 47;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 15px;
	position: relative;
}

#u955
{
	z-index: 48;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u956
{
	z-index: 50;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 15px;
	position: relative;
}

#u957
{
	z-index: 51;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u958
{
	z-index: 52;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 15px;
	position: relative;
}

#u897
{
	z-index: 53;
	width: 962px;
	height: 338px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	margin-right: -10000px;
	position: relative;
}

#pu961
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 18px;
}

#u961
{
	z-index: 54;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u962
{
	z-index: 56;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 15px;
	position: relative;
}

#u968
{
	z-index: 55;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u963
{
	z-index: 57;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 15px;
	position: relative;
}

#pu964
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 490px;
}

#u964
{
	z-index: 58;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u965
{
	z-index: 59;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 15px;
	position: relative;
}

#pu966
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 735px;
}

#u966
{
	z-index: 60;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u967
{
	z-index: 61;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 15px;
	position: relative;
}

#u929
{
	z-index: 62;
	width: 962px;
	height: 338px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	margin-right: -10000px;
	position: relative;
}

#pu952,#pu976
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 1px;
}

#u976
{
	z-index: 63;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u977
{
	z-index: 65;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 15px;
	position: relative;
}

#pu960,#pu968,#pu983
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 245px;
}

#u983
{
	z-index: 64;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u978
{
	z-index: 66;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 1px;
	margin-top: 15px;
	position: relative;
}

#pu955,#pu979
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 491px;
}

#u979
{
	z-index: 67;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u980
{
	z-index: 68;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 15px;
	position: relative;
}

#pu957,#pu981
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 736px;
}

#u981
{
	z-index: 69;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u982
{
	z-index: 70;
	width: 224px;
	height: 142px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 15px;
	position: relative;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

@font-face
{
	font-family: '__Spoon-Bold_5';
	src: url('../fonts/spoon-bold.eot');
	src: local('☺'), url('../fonts/spoon-bold.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Spoon-Light_5';
	src: url('../fonts/spoon-light.eot');
	src: local('☺'), url('../fonts/spoon-light.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Spoon-Regular_5';
	src: url('../fonts/spoon-regular.eot');
	src: local('☺'), url('../fonts/spoon-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 980px;
}

#page .verticalspacer
{
	clear: both;
}

